<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gracias por tu donación</title>
    <link rel="stylesheet" href="gracias.css">
</head>
<body>
    <div class="email-container">
        <div class="header">
            <h1>Fundación Sanders</h1>
        </div>
        <div class="email-body">
            <h2>¡Gracias por tu generosa donación!</h2>
            <p>Gracias por apoyar a la Fundación Sanders. Tu generosidad hace posible que sigamos trabajando para llevar agua potable a las comunidades que más lo necesitan.</p>
            <p>Tu contribución es vital para cambiar vidas y mejorar el acceso a recursos esenciales. ¡Nos sentimos muy agradecidos!</p>
            <div class="image-container">
                <img src="../../../public/assets/images/covers/cover_5.jpg" alt="Fundación Sanders" class="cover-image">
            </div>
            <a href="https://localhost:3030/" class="btn">Conoce más sobre nuestros proyectos</a>
        </div>
        <div class="email-footer">
            <p>&copy; 2024 Fundación Sanders. Todos los derechos reservados.</p>
        </div>
    </div>
</body>
</html>
